
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>管理者認証</title>
</head>
<body>
  <div class="admin-auth-container">
    <h1>Admin Login</h1>
    <form method="POST" action="/admin">
      <input name="username" type="text" placeholder="管理者名を入力">
    </form>

    <form method="POST" action="/admin">
      <input type="password" name="password" placeholder="パスワードを入力">
    </form>
    
    <form method="POST" action="/admin">
      <button type="submit" class="LoginBtn">Login</button>
    </form>
  </div>

  <!--　戻るボタン -->
  <button type="button" class="BackPreviousBtn admin-previousBtn" onclick="history.back()">BackPrevious</button>
</body>
</html>
