<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>THANKS FOR YOUR FEEDBACK</h1>
    <h2>-We will use your feedback to make improvements-</h2>
  
    <form class="feedback-form" enctype="multipart/form-data">

      <!-- 項目名 -->
      <label for="category">項目名</label>
      <select id="category" name="category">
        <option value="">選択してください</option>
        <option value="ui">UIについて</option>
        <option value="bug">バグ報告</option>
        <option value="request">機能リクエスト</option>
        <option value="other">その他</option>
      </select>

      <!-- 件名 -->
      <label for="subject">件名</label>
      <input type="text" id="subject" name="subject" placeholder="件名を入力してください" maxlength="20">

      <!-- 添付ファイル -->
      <label for="attachment">添付ファイル</label>
      <input type="file" id="attachment" name="attachment">

      <!-- 内容 -->
      <div class="message-box">
        <label for="message"></label>
        <textarea id="message" name="message" maxlength="200"></textarea>
      </div>

      <!-- 戻るボタン -->
      <div class="button-group">
        <button type="button" class="BackPreviousBtn" onclick="history.back()">BackPrevious</button>
      
        <!-- 送信ボタン -->
        <button type="submit" class="SendFeedBackBtn" formaction="{{ url_for('submit_feedback') }}">SendFeedBack</button>

        <!-- 管理者認証ボタン-->
        <button type="submit" class="AdminAuthBtn" formaction="{{ url_for('admin') }}">AdminAuth</button>
      </div>
    </form>
</body>
</html>
