<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Feedback</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1>THANKS FOR YOUR FEEDBACK</h1>
    <h2>-We will use your feedback to make improvements-</h2>
    <form class="feedback-form" method="post" enctype="multipart/form-data">
      <div class="message-box">
        {% if message %}
          <h2>{{ message }}</h2>
        {% endif %}
        <!-- 項目名のプルダウンメニュー -->
        <label for="category">項目名</label>
        <select id="category" name="category" required>
          <option value="">選択してください</option>
          <option value="ui">UIについて</option>
          <option value="bug">バグ報告</option>
          <option value="request">機能リクエスト</option>
          <option value="other">その他</option>
        </select>

        <!-- 件名 -->
        <label for="title">件名</label>
        <input type="text" id="title" name="title" placeholder="件名を入力してください" maxlength="15" minlength="5" required>

        <!-- 添付ファイル。任意 -->
        <label for="attachment">添付ファイル</label>
        <input type="file" id="file" name="file">

        <!-- 内容 -->
        <label for="content"></label>
        <textarea id="content" name="content" maxlength="200" minlength="10" placeholder="内容" required></textarea>
      </div>

      <!-- 戻るボタン -->
      <div class="floating-buttons">
        {% set back_url = url_for('index') %}
        <button type="button" class="BackPreviousBtn" onclick="window.location.href='{{ back_url }}'">
          BackPrevious
        </button>
      
        <!-- フィードバック情報をルーティング関数に渡す -->
        <button type="submit" class="SendFeedBackBtn" formaction="{{ url_for('feedback.submit_feedback') }}">SendFeedBack</button>

        <!-- 管理者ログインページに遷移-->
         {% set admin_url = url_for('admin.admin') %}
        <button type="button" class="AdminAuthBtn" onclick="window.location.href='{{ admin_url }}'">
          AdminAuth
        </button>
    </form>
</body>
</html>
