<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>関数の保存</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="wrapper">
        <h1>関数に名前をつけて保存</h1>

        <form action="{{ url_for('function.save_function') }}" method="post">
            <input type="text" id="function_name" name="function_name" placeholder="保存名を入力" class="auth-input" required>
            <!-- セッションから取得した関数式をhiddenで渡す -->
            <input type="hidden" name="function_text" value="{{ function_text }}">
            
            <div class="button-container">
                <button type="submit" class="adminPageBtn">保存</button>
            </div>
        </form>
    </div>
</body>
</html>