<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Admin Registration</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="wrapper">
    <h1>Admin Registration</h1>

    {% if error %}
    <p class="error-message">{{ error }}</p>
    {% endif %}
    {% if message %}
    <p class="success-message">{{ message }}</p>
    {% endif %}

    <form method="POST" action="{{ url_for('admin.register_admin') }}">
      <input type="text" id="username" name="username" placeholder="管理者名を入力" class="auth-input" required>
      <input type="password" id="password" name="password" placeholder="パスワードを入力" class="auth-input" required>

        <button type="submit" class="adminPageBtn">REGISTER</button>

        {% set back_url = url_for('admin.admin') %}
        <button type="button" class="adminPageBtn" onclick="window.location.href='{{ back_url }}'">BACK PREVIEWS</button>
     
    </form>
  </div>
</body>
</html>
